:root {
    --square-size: 20px;
    --canvas-size: 600px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.snake-seg {
    background-color: white;
    width: 20px;
    height: 20px;
    position: relative;
    display: block;
}

.playground {
    display: grid;
    grid-template-columns: repeat(30, var(--square-size));
    grid-template-rows: repeat(30, var(--square-size));
    width: 600px;
    height: 600px;
    background-color: black;
}

.food {
    background-color: red;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}