body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.snake-seg {
    background-color: white;
    width: 20px;
    height: 20px;
    position: relative;
    display: block;
}

.playground {
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: black;
}